nav {

  .navigation {
    .logo {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-flex;
      align-items: center;

      i {
        color: @black;
        //text-shadow: @funkyShadow;
        //font-size: 14px;
      }

      span {
        margin-left: 8px;
        font-size: 18px;
        color: @black;
      }
    }
  }
}