<div class="col s6">
    <div class="card deep-orange z-depth-5">
        <div class="card-content white-text">
            <h4>Hip <%-i%></h4>
            <form action="#">
                <p class="range-field">
                    <i class="material-icons prefix">home</i>
                    <input class="range" type="range" id="hip-<%-i%>" min="0" max="1024" step="25" value="500"/>
                </p>
            </form>
        </div>
    </div>
</div>