<div class="col s6">
    <div class="card deep-orange z-depth-5">
        <div class="card-content white-text">
            <h4><%-control.name%></h4>
            <form action="#">
                <p class="range-field">
                    <i class="material-icons prefix">home</i>
                    <input class="range js-range" data-function="<%-control.fn%>" type="range" id="hip-<%-i%>" min="<%-control.min%>" max="<%-control.max%>" step="0" value="0"/>
                </p>
            </form>
        </div>
    </div>
</div>