<%
var hips = 4;
console.log(home);
console.log(scale);
console.log(servos);
%>

<div class="section">
    <div class="container">
        <div class="row">
            <% for(var i = 0; i < hips; i++) { %>
                <%- include partials/hip %>
            <% } %>
        </div>
    </div>
</div>