<%
var controls = [
    {name: "brightness", fn: "setBright", min: 0, max: 255},
    {name: "loop", fn: "setLoop", min: 0, max: 4000}
];


%>

<div class="section">
    <div class="container">
        <div class="row">
            <% for(var i = 0; i < controls.length; i++) { %>
            <% var control = controls[i]; %>
            <%- include partials/input %>
            <% } %>
        </div>
    </div>
</div>