 <nav class="blue-grey darken-3" role="navigation">
    <div class="navigation container"><a id="logo-container" href="#" class="logo"><i class="material-icons">panorama_vertical</i> <span>Dynamite</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/devices">Devices</a></li>
        <li><a href="/account">Account</a></li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="sidenav-trigger button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>