html, body {
  font-family: @fontPrimary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.range-field {
  input {
    &.range {

      ~ span {
        &.thumb {
          background-color: @black;

          .value {
            font-size: 18px;
          }
        }
      }
    }
  }
}