@fontPrimary: "Roboto", sans-serif;

@black: #000000;
@funkyShadow: 4px 4px 0px fade(#b70707, 60%), -4px -4px 0px fade(#06b34b, 60%), 4px -4px 0px fade(#074db7, 60%), -4px 4px 0px fade(#b30682, 60%);
@grey: #e4e4e4;
@white: #ffffff;


.background-grey {
  background: @grey;
}

.background-white {
  background: @white;
}